body { 
    background: url("../Bootstrap-Portfolio/assets/green_cup.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.col-sm-6 {
    background: #f7ce3e
}




/* background: url("../Bootstrap-Portfolio/assets/green_cup.png");*/
